.card {
  height: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    height: 100%;
  }
}

img {
  object-fit: contain;
  max-width: stretch;
}

p {
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.spacer {
  flex: 1 1 auto;
}

.favorite-button {
  border: none;
  background-color: transparent;
  box-shadow: none;
  font-size: 24px;
  line-height: 14px;
  text-align: right;

  cursor: pointer;

  color: gray;
}

.favorite-button.active {
  color: red;
}
